@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&family=Rubik&display=swap');

body {
    background-color: #ded8d9;
    font-family: Bai Jamjuree;
    color: #2b3e51;
    text-align: center;
  }

h2 {
    font-size: 40px;
}

#navbar{
  background-color: #ff6b84;
  font-family: Bai Jamjuree;
  color: #2b3e51;
  padding: 10,10,10,10;
}

#tabwork{
  font-family: Bai Jamjuree;
  color: #2b3e51;
  text-align: left;
  font-size: 2cm;
}

#hello{
  font-family: Bai Jamjuree;
  color: #2b3e51;
  font-size: 1cm;
  text-align: right;
}

#name{
  font-family: Bai Jamjuree;
  color: #2b3e51;
  font-size: 1cm;
  text-align: right;
}

#logout{
  background-color: #f29e9e;
  border-radius: 10px; 
  border: none;
  color: rgb(252, 252, 252);
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 32px; 
}

#tabdiv{
  text-align: center;
  margin-left: 5%;
}
#loginbox, #registerbox{
    background-color: #fff;
    width: 350px;
    margin: 30px auto;
    text-align: center;
    padding: 10px 0 30px 0;
    border-radius: 4px;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    font-family: Rubik;
}

#username, #password, #login, #userreg, #firstname, #lastname, #register {
    box-sizing: border-box;
    width: 70%;
    outline: none;
    height: 60px;
    line-height: 60px;
    padding-left: 5px;
    border-radius: 3px;
    margin-top: 10px;
  }

#login, #register{
    background-color: #ffafb5;
    border-color: #f7bcc3;
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 17px;
}

#checkpassbox{
    width: 17px;
    height: 17px;
    margin-top: -5%;
    margin-left: 30%;
    font-size: 6px;

}

#work{
    text-align: center;
    font-size: 40px;
    font-family: Bai Jamjuree;

}
#labeltitle, #labeldate,#labelsubject,#labeldays,#labelstart,#labelend{
  font-family: Rubik;
  font-size: 20px;

}
#title,#senddate,#subject,#days,#start,#end{
    margin: 5px;
    padding: 5px;
}


#addhomework,#addsubjectbutton{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
    border-radius: 5px;
    font-size: 15px;
      font-weight: bold;
  
}
select:hover,#addhomework:hover,#addsubjectbutton:hover,.binbutton:hover,.isfinishcheckbox:hover,.used:hover,#logout:hover {
  filter: brightness(75%);
  cursor: pointer;
}

#table{
    
    width: 95%;
    height: 450px;
    font-family: Bai Jamjuree;
    font-size: 15px;
    background: #fff;
    margin-top: 1%;
    border-radius: 4px;
    /* box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1); */
    /* border-collapse: collapse; */

}

#table > thead{
  background-color: #cac8ca;

}

.used{
  
  box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1);
  
}

#MON{
  background-color: #fff07b;
}

#TUE{
  background-color: #ffa4c4;
}

#WED{
  background-color: #a7e59e;
}

#THU{
  background-color: #f8b88a;
}

#FRI{
  background-color: #a9e1ff;
}
#main-table {
    
    text-align: center;
    margin-top: 1%;
    margin-left: 5%;
    margin-bottom: 10%;
    width: 90%;
    font-family: Bai Jamjuree;
    background: #fff;
    border-radius: 4px;
    /* box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.1); */
    border-collapse: collapse;
    overflow: hidden;

  }
  #main-table > thead > tr > th {
    font-weight: bold;
    text-align: center;
    font-size: 30px;
    height: 50px;
    
  }
  #main-table td,
  #main-table th {
    padding: 5px 10px;
    text-align: center;
    /* border-bottom: 1px solid rgb(8, 0, 0); */
    height: 50px;
  }
  #main-table > thead {
    background: #fe959c;
    padding: 12px 15px;
    color: white;
  }
  .finish{
      color: rgb(107, 191, 129);
    
  }
  .nfinish{
      color: rgb(247, 106, 93);
    
  }
  .finish,.nfinish{
    font-size: 20px;
    font-weight: bold;
  }
  .isfinishcheckbox{
    width: 20px;
  }
  .binbutton{
      background-color: rgb(252, 130, 130);
      margin-left: 5px;
      border:  none;
      border-radius: 5px;
      padding: 4px 8px;

      font-size: 15px;
      font-weight: bold;
      color: white;
  }
  .finbutton{
    margin-right    : 5px; 
  }